img {
    width: 300px;
}
body {
    text-align: center;
     font-family: 'Arial';
    background: #ad9cad9c;
    color: rgb(88, 65, 88);
    max-width: 60ch;
    margin: 5ch auto;
    font-size: 18px;
    line-height:1.6;
}
img {
    text-align: center;
}
p{
    color:rgb(69, 26, 109)
}